# vim: sw=4 ts=4
[user]
	name = Ray Chang
	email = raychang@pixnet.tw
[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto
[push]
	default = current
[alias]
    cm = commit -a
    st = status
    co = checkout
    br = branch
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
    lg2  = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold white)— %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
